.downloadApp {
    display: flex;
    justify-content: space-evenly;
}

.left__text {
    display: flex;
    flex-direction: column;
}

.left__text p {
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}