.feature {
    margin-top: 100px;
    background: #000;

    background-image: url('../public/assets/featureBg.png');


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

