.footer {
    height: 542px;
}

.footer,
.footer__content {
    display: flex;
    flex-direction: column;
    background: #0095A8;
    margin-top: 100px;
}

.contact__us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 141px;
    width: 80%;
    margin: -80px auto 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0.05);

}

.contact__usLeft,
.contact__usRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contact__us a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0095A8 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none !important;
}

.contact__us a p:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0095A8;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}


.contact__usIcon {
    color: #fff;
    height: 30px;
    width: 30px;
}

.contact__usDivider {
    width: 2px;
    height: 100px;
    background: #6C6C72;
    border: none;
}

.footer__content {
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 120px;
}

.footer__content p {
    margin-top: 27px;
}

.media__handles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    gap: 35px;
    display: none;
}

.media__handles hr {
    border: none;
    height: 20px;
    width: 1px;
    background: #fff;
}

.mediaIcons {
    height: 30px;
    width: 30px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
};

.footer__bottom p {
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
}

.copyrightIcon{
    color: #fff !important;
}

.footer__bottomDivider {
    border: none;
    height: 1px;
    width: 80%;
    background-color: rgb(255, 255, 255);
}
