.footer,
.footer__content {
    display: flex;
    flex-direction: column;
    background: #0095A8;
    margin-top: 100px;
}

.contact__us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 141px;

    width: 80%;
    margin: 10px auto auto auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0.1);

}

.contact__usDivider {
    width: 1px;
    height: 100px;
    background: red;
    border: none;
}

.footer__content {
    align-items: center;
    justify-content: center;
    color: #fff;
}

.media__handles {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}