.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
}

.logo{
    flex: 1;
    fz
}

.navbar__right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}