.downloadApp {
    display: flex;
    padding: 0 100px;
    margin: 100px 0;
    padding-bottom: 50px;
    margin-top: 200px;
}

.downloadApp__left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.download__bottons img {
    margin-top: 55px;
    height: 60px;
    width: 160px;
}


.left__text {
    display: flex;
    flex-direction: column;
}

.left__text span {
    margin-top: -20px;
    max-width: 550px;
}

.left__text p {
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #232233;
}

.downloadApp__right {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 30px;

}

.happyUserImage__wrapper {
    width: 100%;
    position: relative;
    width: 474px;
    height: 417px;
    border-radius: 10px;
    z-index: 0;
}

.happyUserImage {
    height: auto;
    width: auto;
    object-fit: cover;
    border-radius: 10px 10px 3px 3px;
    z-index: 0;
}

.prayerPhone {
    margin-top: -170px;
    z-index: 100 !important;
    margin-left: -150px;
    width: 250px;
    height: 350px;
}


@media screen and (min-width: 900px) and (max-width:1200px) {
    .happyUserImage__wrapper {
        width: 200px;
        height: 300px;
        left: 50px;
    }

    .happyUserImage {
        height: 300px;
        width: 370;
    }

    .prayerPhone {
        margin-top: -120px;
        margin-left: -70px;
        width: 200px;
        height: 250px;
    }
}

@media screen and (max-width:800px) {
    .downloadApp {
        flex-direction: column;
        padding: 10px !important;
        margin-top: 0;
    }

    .downloadApp__left {
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    .left__text {
        width: 80%;
    }

    .left__text p {
        font-size: 21px;
        font-weight: 700;
    }

    .left__text span {
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;

    }

    .downloadApp__right {
        flex-direction: row;
        justify-content: center;
    }

    .happyUserImage__wrapper {
        width: 250px;
        height: 220px;
        border-radius: 5px;
        position: relative;
        margin-left: 80px;
    }

    .happyUserImage {
        height: 100%;
        width: 100%;
    }

    .prayerPhone {
        width: 134px;
        height: 179px;
        border-radius: 3.86px;
        margin-top: 130px;
        margin-left: -200px;
        position: absolute;
        box-shadow:1px 10px 6px 3px rgba(0, 0, 0, 0.07);
    }

    .download__bottons {
        width: 80%;
    }

    .download__bottons img {
        width: 105px;
        height: 31px;
        margin: 30px 15px 0 0;
    }
}