.heroSection {
    display: flex;
    margin: 80px 90px;
    padding: 10px;
    user-select: none;
}

.heroSec__leftLargeTxt {
    font-size: 49px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
}

.heroSec__left {
    width: 50%;
    height: 126px;
}

.heroSec__left p:nth-child(3) {
    color: #6C6C72;
    font-weight: 400;
    line-height: 24px;
    width: 450px;
}

.heroSec__left span {
    color: #6C6C72;
    font-weight: 400;
    line-height: 24px;
}

.download__sm {
    display: none !important;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.download p {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #232233;
}

.download__bottons {
    display: flex;
    align-items: center;
}

.download__bottons img  {
    margin-top: -15px;
    height: 60px;
    width: 160px;
}


.heroSec__right {
    display: flex;
    position: relative;
    width: 50%;
    margin-right: 100px;
    margin-top: -70px;
    margin: 0 auto;
}

.gradient__box {
    right: -100px;
}

.heroSec__rightGradient {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 149, 168, 0) 0%, #0095A8 100%);
    width: 681px;
    height: 681px;
    top: 90px;
    right: -430px;
    border-radius: 50%;
    overflow: hidden !important;
}

.iPhones__wrapper{
    margin-left: -82px !important;
    margin-top: -80px;
}

.iPhones {
    display: flex;
    z-index: 100;
    position: relative;
    margin-left: 110px;
    height: fit-content;
}

@media screen and (min-width: 900px) and (max-width:1200px) {
    .heroSection {
        margin: 80px 50px;
    }

    .iPhones {
        margin-left: 50px;
        height: fit-content;
    }

}

@media screen and (max-width:800px) {
    .heroSection {
        background: #fff;
        margin: 0;
        height: fit-content;
        flex-direction: column;
        padding: 0 20px;
    }

    .download {
        display: none;
    }

    .download__sm {
        display: flex !important;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .heroSec__left {
        width: 100%;
        height: fit-content;
    }

    .heroSec__leftLargeTxt {
        line-height: 50px;
        max-width: 311px;
    }

    .heroSec__right {
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-top: 50px;
        justify-content: center;
    }

    .iPhones {
        height: fit-content;
    }

    .iPhones__wrapper{
        margin: 0;
    }

    .gradient__box {
        display: none;
    }
}

@media screen and (max-width:520px) {
    .heroSec__right {
        width: 100%;
        height: fit-content;
        margin-top: 50px;
    }

    .heroSec__leftLargeTxt {
        font-size: 34px;
        font-weight: 700;
    }

    .iPhones {
        margin-left: 0px !important;
        height: fit-content;
        position: flex;
    }

    .iPhones__wrapper {
        width: 249px;
        height: 336px;
        margin-left: 0;
    }

    .iPhones__wrapper img{
        height: auto;
        width: auto;
    }


}